<br>
<div class="card">
  <div class="card-header">
    EVENTS
  </div>
  <div class="card-body">
    <table class='table'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User</th>
      </tr>
    <% @events.each do |event| %>
    <tr>
      <td>
              <%=link_to admin_event_path(event.id) do %>
               <%= event.id %>
             <% end %>
      </td>
      <td>   <%= event.name %></td>
      <td>   <%= event.user.full_name  %></td>
    </tr>
    <% end %>

    </table>

  </div>
</div>
