<br>
<div class="card">
  <div class="card-header">
    <%= @event.name %>

  </div>
  <div class="card-body">

    <table class='table'>

    <tr>
      <td>
              Name: <%= @event.name %>


      </td>
      <td>
      Venue:   <%=link_to admin_venue_path(@event.venue.id) do %>
         <%= @event.venue.name %>
       <% end %>
     </td>

      <td>  </td>
      <td>   </td>
    </tr>
    </table>
    <div class="pull-right">
      <%= button_to 'Delete Event', { action: :destroy }, method: :delete, data: { confirm: "Event will be deleted.\nAre you sure?", disable_with: 'deleting...' }, class: 'btn btn-danger btn-xs pull-right' %>
    </div>


  </div>
</div>

<br>
<div class="card">
  <div class="card-header">
     Performers in the event
  </div>
  <div class="card-body">
    <table class="table">
      <% @event.single_participants.each do |g| %>
      <tr>

        <td> <%=link_to admin_performer_path(g.id) do %>
         <%= g.name %>
       <% end %></td>
      </tr>
      <% end %>
    </table>

  </div>
</div>

<br>
<div class="card">
  <div class="card-header">
    Groups in the event
  </div>
  <div class="card-body">
    <table class="table">
      <% @event.group_participants.each do |e| %>
      <tr>

        <td> <%=link_to admin_group_path(e.id) do %>
         <%= e.name %>
       <% end %></td>
      </tr>
      <% end %>
    </table>

  </div>
</div>
