<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.full_name %></h1>
    <p>
      Your reservation request for <%= @event.name %>
      was accepted. 
    </p>
  </body>
</html>
