<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.full_name %>,</h1>
    <p>
      <%= @request.user.full_name %> has made a reservation for for <%= @event.name %> for <%= @request.amount %> tickets.
      Use the app to confirm or deny the request.
    </p>
  </body>
</html>
