<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Event World , <%= @user.full_name %></h1>
    <p>
      You have successfully signed up to Event World,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, you must confirm your email.
      In order to do it, just follow this link: <%= link_to("Confirmation link", @url, method: :get) %>

    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
