<br>
<div class="card">
  <div class="card-header">
    VENUES
  </div>
  <div class="card-body">
    <table class='table'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User</th>
      </tr>
    <% @venues.each do |venue| %>
    <tr>
      <td>
              <%=link_to admin_venue_path(venue.id) do %>
               <%= venue.id %>
             <% end %>
      </td>
      <td>   <%= venue.name %></td>
      <td>   <%= venue.user.full_name  %></td>
    </tr>
    <% end %>

    </table>

  </div>
</div>
