<br>
<div class="card">
  <div class="card-header">
    <%= @venue.name %>
  </div>
  <div class="card-body">

    <table class='table'>

    <tr>
      <td>
              Name: <%= @venue.name %>
      </td>

      <td>               Address: <%= @venue.address %> </td>
      <td>  Capacity: <%= @venue.capacity %> </td>
    </tr>
    </table>

    <div class="pull-right">
      <%= button_to 'Delete Performer', { action: :destroy }, method: :delete, data: { confirm: "Performer will be deleted.\nAre you sure?", disable_with: 'deleting...' }, class: 'btn btn-danger btn-xs pull-right' %>
    </div>
  </div>
</div>

<br>
<div class="card">
  <div class="card-header">
    Event that happened at the venue
  </div>
  <div class="card-body">
    <table class="table">
      <% @venue.events.each do |e| %>
      <tr>

        <td> <%=link_to admin_event_path(e.id) do %>
         <%= e.name %>
       <% end %></td>
      </tr>
      <% end %>
    </table>

  </div>
</div>
