<br>
<div class="card">
  <div class="card-header">
    PERFORMERS
  </div>
  <div class="card-body">
    <table class='table'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User</th>
      </tr>
    <% @performers.each do |performer| %>
    <tr>
      <td>
              <%=link_to admin_performer_path(performer.id) do %>
               <%= performer.id %>
             <% end %>
      </td>
      <td>   <%= performer.name %></td>
      <td>   <%= performer.user.full_name  %></td>
    </tr>
    <% end %>

    </table>

  </div>
</div>
