<br>
<div class="card">
  <div class="card-header">
    <%= @performer.name %>
  </div>
  <div class="card-body">

    <table class='table'>

    <tr>
      <td>
              Name: <%= @performer.name %>
      </td>

      <td>  </td>
      <td>   </td>
    </tr>
    </table>


  </div>
</div>

<br>
<div class="card">
  <div class="card-header">
    Groups performer belongs to
  </div>
  <div class="card-body">
    <table class="table">
      <% @performer.groups.each do |g| %>
      <tr>

        <td> <%=link_to admin_group_path(g.id) do %>
         <%= g.name %>
       <% end %></td>
      </tr>
      <% end %>
    </table>
    <div class="pull-right">
      <%= button_to 'Delete Performer', { action: :destroy }, method: :delete, data: { confirm: "Performer will be deleted.\nAre you sure?", disable_with: 'deleting...' }, class: 'btn btn-danger btn-xs pull-right' %>
    </div>
  </div>
</div>

<br>
<div class="card">
  <div class="card-header">
    Events performer belongs to
  </div>
  <div class="card-body">
    <table class="table">
      <% EventQuery.new.search.filter_by({performer_id: @performer.id}).each do |e| %>
      <tr>

        <td> <%=link_to admin_event_path(e.id) do %>
         <%= e.name %>
       <% end %></td>
      </tr>
      <% end %>
    </table>

  </div>
</div>
