<br>
<div class="card">
  <div class="card-header">
    GROUPS
  </div>
  <div class="card-body">
    <table class='table'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User</th>
      </tr>
    <% @groups.each do |group| %>
    <tr>
      <td>
              <%=link_to admin_group_path(group.id) do %>
               <%= group.id %>
             <% end %>
      </td>
      <td>   <%= group.name %></td>
      <td>   <%= group.user.full_name  %></td>
    </tr>
    <% end %>

    </table>

  </div>
</div>
