<br>
<div class="card">
  <div class="card-header">
    USERS
  </div>
  <div class="card-body">
    <table class='table'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    <% @users.each do |user| %>
    <tr>
      <td>
              <%=link_to admin_user_path(user.id) do %>
               <%= user.id %>
             <% end %>
      </td>
      <td>   <%= user.full_name %></td>
      <td>   <%= user.email  %></td>
    </tr>
    <% end %>

    </table>

  </div>
</div>
