<br>
<div class="card">
  <div class="card-header">
    <%= @user.full_name %>
  </div>
  <div class="card-body">
    Events:
    <table class='table'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created at</th>
      </tr>
    <% @events.each do |event| %>
    <tr>
      <td>
              <%=link_to admin_event_path(event.id) do %>
               <%= event.id %>
             <% end %>
      </td>
      <td>   <%= event.name %></td>
      <td>   <%= event.created_at  %></td>
    </tr>
    <% end %>

    </table>

    Performers
    <table class='table'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created at</th>
      </tr>
    <% @performers.each do |performer| %>
    <tr>
      <td>
              <%=link_to admin_performer_path(performer.id) do %>
               <%= performer.id %>
             <% end %>
      </td>
      <td>   <%= performer.name %></td>
      <td>   <%= performer.created_at  %></td>
    </tr>
    <% end %>

    </table>

    Groups
    <table class='table'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created at</th>
      </tr>
    <% @groups.each do |group| %>
    <tr>
      <td>
              <%=link_to admin_group_path(group.id) do %>
               <%= group.id %>
             <% end %>
      </td>
      <td>   <%= group.name %></td>
      <td>   <%= group.created_at  %></td>
    </tr>
    <% end %>

    </table>


    Venues
    <table class='table'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created at</th>
      </tr>
    <% @venues.each do |venue| %>
    <tr>
      <td>
              <%=link_to admin_venue_path(venue.id) do %>
               <%= venue.id %>
             <% end %>
      </td>
      <td>   <%= venue.name %></td>
      <td>   <%= venue.created_at  %></td>
    </tr>
    <% end %>

    </table>

  </div>
</div>
