<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>

    <style>
      #loader {
        transition: all 0.3s ease-in-out;
        opacity: 1;
        visibility: visible;
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #fff;
        z-index: 90000;
      }

      #loader.fadeOut {
        opacity: 0;
        visibility: hidden;
      }

      .spinner {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        background-color: #333;
        border-radius: 100%;
        -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
        animation: sk-scaleout 1.0s infinite ease-in-out;
      }

      @-webkit-keyframes sk-scaleout {
        0% { -webkit-transform: scale(0) }
        100% {
          -webkit-transform: scale(1.0);
          opacity: 0;
        }
      }

      @keyframes sk-scaleout {
        0% {
          -webkit-transform: scale(0);
          transform: scale(0);
        } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
        }
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Event World Admin </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%=link_to admin_users_path, :class => "nav-link" do %>
            Users
        <% end %>
      </li>
      <li class="nav-item">
        <%=link_to admin_events_path, :class => "nav-link" do %>
            Events
        <% end %>
      </li>
      <li class="nav-item">
        <%=link_to admin_venues_path, :class => "nav-link" do %>
            Venues
        <% end %>
      </li>
      <li class="nav-item">
        <%=link_to admin_groups_path, :class => "nav-link" do %>
            Groups
        <% end %>
      </li>
      <li class="nav-item">
        <%=link_to admin_performers_path, :class => "nav-link" do %>
            Performers
        <% end %>
      </li>
    </ul>
  </div>
  <ul class='navbar-nav pull-right'>
    <li class="nav-item">
    <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>
    </li>
  </ul>
</nav>
<div class="container">
  <%= yield %>
</div>
  </body>
</html>
